body {
    margin:0px;
    color:#373a3d;
    font:12px Helvetica;
}
div{
    margin:5px;
}
ul{
    margin-left:10px;
    padding:5px 5px 5px 15px;
}
li {
    padding:5px 5px 5px 5px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: #007fc4;
    border-width: 1px;
}
